{% load static %}

<!DOCTYPE html>
<html>

<head>
<title>TMNT Asset Viewer</title>
<link rel="stylesheet" href="{% static 'tmnt.css' %}">
<link rel="icon" href="{% static 'favicon.ico' %}">
</head>



<body>
<!-- Top of screen menu bar -->
<div id = 'menuBar'>
    <h1>Threat Modeling Naturally Tool</h1>
    <div class="topnav">
        <a href="#share">Share</a>
        <a href="#export">Export</a>
        <a href="#profile">Profile</a>
    </div>
</div>

<!-- Everything below the top of the screen -->
<div class="lowerArea">
    <!-- Left sidebar to switch between modes -->
    <div class="modeBar">
        <img src="{% static 'assets.png' %}" width="75%" style="padding-bottom: 10px;" onclick= "showSection('assets')">
        <img src="{% static 'warnings.png' %}" width="75%" style="padding-bottom: 10px;" onclick="showSection('threats')">
        <img src="{% static 'wrench.png' %}" width="75%" style="padding-bottom: 10px;"  onclick="showSection('controls')">
        <img src="{% static 'magnify.png' %}" width="75%" style="padding-bottom: 10px;" onclick="showSection('findings')">
    </div>

    <!-- Area for actually adding assets/threats/controls/etc. -->
    <div id="itemsBar" class="itemsBar">

        <!-- Panel for adding assets -->
        <div id="assets" class="items">
            <h2>What are we working on?</h2>
            <br>

            <h3>Assets</h3>
            <div class="button_container">
                <button type="button" class="asset_button" onclick="addElement(this.innerHTML)">Actor</button>
                <button type="button" class="asset_button" onclick="addElement(this.innerHTML)">Server</button>
                <button type="button" class="asset_button" onclick="addElement(this.innerHTML)">Data Store</button>
            </div>
            <div class="button_container">
                <button type="button" class="asset_button" onclick="addElement(this.innerHTML)">Lambda</button>
                <button type="button" class="asset_button" onclick="addElement(this.innerHTML)">Process</button>
                <button type="button" class="asset_button" onclick="addElement(this.innerHTML)">External Entity</button>
            </div>
            <div id="asset_info_form" style="display:none; background:#f3f3f3; padding:10px; width:fit-content"></div>
            <br>

            <h3>Dataflows</h3>

            <label for="source_dropdown">Source:</label>
            <select name="source_dropdown" class="dropdown" id="source_dropdown" disabled>
                <option value="invalid">Add an asset first!</option>
            </select>

            <br>

            <label for="target_dropdown">Target:</label>
            <select name="target_dropdown" class="dropdown" id="target_dropdown" disabled>
                <option value="invalid">Add an asset first!</option>
            </select>

            <br>
            <button type="button" class="add_button" onclick="addDataFlow(this.innerHTML)" disabled>Add Data Flow</button>

            <br>

            <h3>Workflows</h3>

            <div>Add components in the order in which they occur:</div>
            <div id="adding_workflows">
                <label>1st:</label>
                <select name="component_dropdown" class="dropdown" disabled>
                    <option value="invalid">Add an asset first!</option>
                </select>
            </div>

            <button type="button" class="add_button" id="components_button" onclick="addComponents()" disabled>Add More Components</button>

            <br>
            <button type="button" class="add_button" onclick="addWorkFlow()" disabled>Add Work Flow</button>

            <br>

            <h3>Trust Boundaries</h3>
            <div id="adding_boundary"> 
                <div style="display:none">Select assets on the right to add to a new trust boundary</div>
                <button type="button" class="add_button" onclick="addingTrustBoundary()" disabled>Start Adding Assets</button>
            </div>

        </div>

        <!-- Panel for adding threats -->
        <div id="threats" class="items" style="display: none;">
            <h2>What could go wrong?</h2>
            <br>

            <h3>Threats</h3>
            <div>
            <label for="threat_dropdown">Add to asset:</label>
            <select name="threat_dropdown" id="threat_dropdown" class="dropdown" onchange="showSuggestedThreats()" disabled>
                <option value="invalid">Add an asset first!</option>
            </select>

            <br>
            <input class="threat_textbox" id="threat_title" type="text" placeholder="Threat title..." name="threat_title">
            <br>

            <input class="threat_textbox" id="threat_number" type="text" placeholder="(Optional) CVE/CWE number" name="threat_number">
            <br>

            <textarea class="threat_textbox" id="threat_description" name="threat_description" placeholder="(Optional) Threat description..."rows="4" cols="20"></textarea>

            <button type="button" class="add_button" onClick = "addThreat()">Add Threat</button></div>
            <br>
            <div id = "added_threats">
                <h3>Potential Threats</h3>
                <select id="threat_suggest_dropdown" disabled>
                    <option value="invalid">Select an asset first!</option>
                </select>
                <div id="display_suggested_threat"></div>
            </div>
        </div>

        <!-- Panel for adding controls -->
        <div id="controls" class="items" style="display: none;" >
            <h2>What are we doing about it?</h2>
            <br>

            <h3>Controls</h3>
            <div>
            <label for="control_dropdown">Apply to asset:</label>
            <select name="control_dropdown" id = "control_dropdown" class="dropdown" onchange="showSuggestedControls()" disabled>
                <option value="invalid">Add an asset first!</option>
            </select>
            <br>
            <input class="controls_textbox" id="control_title" type="text" placeholder="Control title..." name="control_title">
            <br>
            <textarea class="controls_textbox" id="control_description" name="control_description" placeholder="(Optional) Control description..."rows="4" cols="20"></textarea>

            <button type="button" class="add_button" onClick="addControl()">Add Control</button></div>
            <br>
            <div id = "added_controls">
                <h3>Potential Threats</h3>
                <select id="control_suggest_dropdown" disabled>
                    <option value="invalid">Select an asset first!</option>
                </select>
                <div id="display_suggested_control"></div>
            </div>
        </div>

        <!-- Panel for adding and reviewing findings -->
        <div id="findings" class="items" style="display: none;">
            <h2>Did we do a good enough job?</h2>
            <br>

            <h3>Findings</h3>
            <label for="findings_asset_dropdown">Review findings for:</label>
            <select id="findings_asset_dropdown" name="asset_dropdown" onchange="updateThreatDropdown()" id="asset_dropdown" class="dropdown" disabled>
                <option value="-1">Add an asset first!</option>
            </select>
            <br>
            <label for="findings_threats_dropdown">Select a threat:</label>
            <select name="findings_threats_dropdown" id="findings_threats_dropdown" onchange="updateFindings()" disabled>
                <option value="-1">Add an asset first!</option>
            </select>
            <br><br>
            <div id = "greyed_out">
            <div id = "status">
            <label for="status_dropdown">Status:</label>
            <select name="status_dropdown" id="status_dropdown" disabled>
                <option value="-1">Select an asset first!</option>
            </select>
            </div>
            <b>Select mitigating controls:</b>
            <br>
            <div id="control_findings">
                &ensp;<span style="color: grey">Select a threat first!</span>
            </div>
            <div id = "technical_impact">
                <table>
                    <tr>
                        <th style="text-align: left;">Technical impact:</th>
                        <th>None</th>
                        <th>Low</th>
                        <th>High</th>
                    </tr>
                    <tr>
                        <td style="text-align: left;">&emsp;Confidentiality</td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_confidentiality" value="none" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_confidentiality" value="low" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_confidentiality" value="high" disabled></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">&emsp;Integrity</td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_integrity" value="none" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_integrity" value="low" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_integrity" value="high" disabled></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">&emsp;Availability</td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_availability" value="none" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_availability" value="low" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_availability" value="high" disabled></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">&emsp;Authenticity</td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_authenticity" value="none" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_authenticity" value="low" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_authenticity" value="high" disabled></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">&emsp;Non-Repudiation</td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_nonrepudiation" value="none" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_nonrepudiation" value="low" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_nonrepudiation" value="high" disabled></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">&emsp;Authorization</td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_authorization" value="none" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_authorization" value="low" disabled></td>
                        <td><input type="radio" class="tech_impact_radio" name="radio_authorization" value="high" disabled></td>
                    </tr>

                </table>

            </div>
            <div id = "safety_impact">
                <b>Safety impact:</b>
                <br>
                &ensp;<label for="harm_dropdown">Harm:</label>
                    <select id="harm_dropdown" class = "findings_dropdown" disabled>
                    </select><br>
                    &ensp;<label for="exploitability_dropdown">Exploitability:</label>
                    <select id="exploitability_dropdown" class = "findings_dropdown" disabled>
                    </select><br>
                <div id= "datetime"> <b>Assessed on:</b> </div>
                <b>Assessed by:</b> &nbsp<input id="assessor_textbox" type="text" placeholder="Name..." name="assessor">
                <br>
             </div>
             <b>Notes:</b><br><textarea class="notes_textbox" id="notes_textbox" name="notes_textbox" placeholder="(Optional) Add Notes..."rows="4" cols="20"></textarea><br>

             <br>
             <button type="button" class="add_button" onclick="saveFinding()">Save</button disabled>
            </div>
        </div>
    </div>

    <!-- Area to display actual DFD -->
    <div class="dfd_assetview" id="dfd">
        <!-- svg is generated into here -->
        <svg id="dfd_svg"></svg>
        <!-- bottom bar is generated into here -->
        <button type="button" class="collapse_button" id="collapse_button" onclick="collapse_bottom_bar()" style="cursor: s-resize">&#8595 Collapse</button>
        <div class="dfd_detailsbar" id="bottom_bar">        
            <h2 style="color: gray">No asset selected...</h2>
            <br>
            <h2 style="color: gray">Select a Workflow: </h2>
            <select name="workflow_dropdown" class="workflow_dropdown" id="workflow_dropdown" disabled>
                <option value="invalid">Add a workflow first!</option>
            </select>
            <button type="button" class="view_button" id="workflow_view" onclick="viewWorkflow()" disabled>View</button>
            <h2 style="color: gray">Select a Trust Boundary: </h2>
            <select name="boundary_dropdown" class="boundary_dropdown" id="boundary_dropdown" disabled>
                <option value="invalid">Add a trust boundary first!</option>
            </select>
            <button type="button" class="view_button" id="boundary_view" onclick="viewBoundary()" disabled>View</button>
        </div>
    </div>
</div>

<!-- JavaScript code starts here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    // Generating URLs for AJAX POST calls
    var addActorUrl = "{% url 'api/add_actor' %}";
    var addDatastoreUrl = "{% url 'api/add_datastore' %}";
    var addExternalAssetUrl = "{% url 'api/add_externalasset' %}";
</script>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script type="text/javascript" src="{% static 'scripts/interface.js' %}"></script>
</body>

</html>
