{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "registration/logout.html" %}
        <div class="container">
        <h2>Projects</h2>
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'create_project' %}" class="btn btn-primary mb-3">Create New Project</a>
                </div>
            </div>
            <div class="row">
                {% if not projects %}
                    <div class="col-md-12">
                        <p>Create a new project to get started.</p>
                    </div>
                {% else %}
                {% for project in projects %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                <a class="card-title mb-0" href="{% url 'workspace' project_name=project.name %}"><h5 class="mb-0">{{ project.name }}</h5></a>
                                <a href="{% url 'edit_project' project_name=project.name %}">
                                    <img src="{% static 'edit.png' %}" width="25%" style="padding-bottom: 10px; float: right" title="Edit Project">
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <h2>Please log in to view your projects.</h2>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
{% endblock %}