html {
    height: 100%;
}

body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 20; */
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    color: #3E8EDE;
    padding-left: 20px;
    display: flex;
    font-size: 40;
}

h2 {
    font-size: 16pt;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

#menuBar {
    width: 100%;
    height: 80px;
    left: -10%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #646464;
    /* padding-bottom: 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-parent {
    margin-left: 20px;
    display: flex;
    width: 100%;
}

.flex-child {
    flex: 1;
    margin: 5px;
}

.topnav {
    float: right;
    /* background-color: #333; */
    color: white;
    padding: 20px;
    /* padding-left: 50%; */
}

.topnav a {
    float: right;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3E8EDE; 
    color: white; 
    border-radius: 10px; 
    margin-right: 10px;
}

.formButtons {
    top: 10%;
    padding: 10px 20px;
    background-color: #3E8EDE; 
    color: white; 
    border-color: #3E8EDE;
    border-radius: 10px; 
    text-decoration: none;
    box-shadow: none;
}

#reset  {
    border-color: #646464;
    background-color: #646464;
    left: 200px;
    top: 10%;
    padding: 10px 20px;
    color: white; 
    border-radius: 10px; 
    text-decoration: none;
    box-shadow: none;
}

.dfd_dfdview {
    padding-top: 30px;
}



/* for Asset View */
.lowerArea {
    display: flex;
    width: 100%;
    height: calc(100% - 81px); /* temporary workaround? */
}

.modeBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    height: calc(100% - 10px);
    width: 60px;
    min-width: 60px;
    background-color: lightgray;
    border-right: 1px solid black;
}

.itemsBar {
    width: calc(25% - 15px);
    min-width: 320px;
    border-right: 1px solid black;
    overflow-y: auto;
}

.dfd_assetview {
    width: calc(75% - 45px);
    height: calc(100% - 10px);
    /* padding-left: 10%; */
}

.dfd_detailsbar {
    width: calc(100% - 10px);
    height: calc(25% - 10px);
    border-top: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
.options li {
    position: relative;
    float: right;
}
.options li > ul {
    position: absolute;
    left:-999em;
    width:100%;
    top:0;
    transition:top .5s ease;
}
.options ul ul {
    transition:transform .5s ease, opacity .3s ease;
    transform:translateX(0);
    opacity:0;
}
.options a {
    display: block;
    background: #f3f3f3;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    white-space: nowrap;
    color: #666666;
    border: 1px solid #fff;
    line-height:1.2em;
}
.options a:hover {
    background: #ccc;
}
.options li:hover > ul {
    left:-100%;
    width:200%;
    top:100%;
}
.options li li:hover > ul {
    left:0;
    transform:translateX(-100%);
    width:fit-content;
    top:0;
    opacity:1;
}
.options ul li {
    float: none;
}
.options li:hover > a {
    background: #ccc;
}
#options ul li {
    border-top: none;
}

.displaybtn {
    font-weight: bold;
    color: white;
    padding:5px;
    border: none;
}
  
.display {
    position: relative;
    display: inline-block;
    width:fit-content;
    white-space: nowrap;
    margin-left:40px;
}
  
.display-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
}
  
.display-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
  
.display-content a:hover {background-color: #ddd;}

.display:hover .display-content {display: block;}


.items {
    padding-left: 10px;
    padding-top: 10px;
}

.asset_button {
    height: 60px;
    width: 30%;
    background-color: white;
    border-radius: 5px; 
}

.button_container {
    padding-bottom: 5px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}

.add_button {
    height: 30px;
    width: 80%;
    background-color: white;
    border-radius: 5px; 
}

.small_button {
    height: 20px;
    width: fit-content;
    background-color: white;
    border-radius: 5px; 
    border-color: grey;
    font-weight: bold;
}

.view_button {
    height: 20px;
    width: fit-content;
    display: inline-block;
    background-color: white;
    border-radius: 5px; 
    border-color: grey;
    font-weight: bold;
}

.threat_textbox, .controls_textbox, .notes_textbox {
    width: 80%;
    font-size: 10pt;
}

textarea.threat_textbox, textarea.controls_textbox, textarea.notes_textbox {
    font-family: Arial, Helvetica, sans-serif;
}

.asset {
    text-align: center;
}

.asset_text {
    vertical-align: middle;
}

select {
    background-color: white;
    border-color: grey;
    border-radius: 5px; 
    box-shadow: none;
    margin-top: 2px;
    margin-bottom: 4px;
}

th, td {
    padding-right: 10px;
    text-align: center;
}

#greyed_out {
    color: grey;
}